body{background-color: #f5f5f5;}
header.nav-principal{background-color: transparent;border: none;}
	header.nav-principal .navbar-header .header__logo .header__logo-image{max-width: 200px;}
	header.nav-principal .navbar-default .navbar-toggle{border: none;}
		header.nav-principal .navbar-default .navbar-toggle .icon-bar{background-color: red;}
	header.nav-principal #tt-navbar .menu__item a{text-transform: uppercase;}
		header.nav-principal #tt-navbar .menu__item a.active{font-weight: bold;text-decoration: underline;}
main{padding: 60px 0;}
  main h1{margin-top: 0;}
footer .block-menu h2{font-size: 2rem;}
footer .block-menu ul{list-style: none;margin: 0;padding: 0;}
	footer .block-menu ul li{line-height: 25px;}
footer .block-accesibilidadweb-contact-form{background-color: #d0d0d0;padding: 60px 0;}
body.home main{padding: 0px !important;}
.visually-hidden{display: none;}
.block-accesibilidadweb-contact-form h2{text-align: center;}
.block-accesibilidadweb-contact-form .form-wrapper{margin-top: 20px;}
.node-post .links.inline{list-style: none;padding-left: 0;}
.element-invisible{display: none;}
.pager li>a, .pager li>span{border-radius: 0;}
.pager > .pager-current{background-color: #eee;border: 1px solid #ddd;color: #337ab7;display: inline-block;padding: 5px 14px;}
.page-blog .masonry-item{background-color: white;padding: 20px;width: 48%;}
.page-taxonomy .node-post.node-teaser{background-color: white;margin-bottom: 20px;padding: 20px;}
.node-post .field-name-field-featured-image{margin-bottom: 10px;}
	.node-post .field-name-field-featured-image img{height: auto;max-width: 100%;}
.node-post .field-name-field-categories{margin-bottom: 10px;}
	.node-post .field-name-field-categories .field-label, .node-post .field-name-field-categories .field-items, .node-post .field-name-field-categories .field-items .field-item{display: inline-block;vertical-align: top;}
	.node-post .field-name-field-categories .field-items .field-item{padding: 0 4px;}
.node-post .field-name-field-tags{margin-bottom: 10px;}
	.node-post .field-name-field-tags .field-label, .node-post .field-name-field-tags .field-items, .node-post .field-name-field-tags .field-items .field-item{display: inline-block;vertical-align: top;}
	.node-post .field-name-field-tags .field-items .field-item{padding: 0 4px;}
.node-page-completed.node-teaser .field-name-field-promo-image{margin-bottom: 10px;}
	.node-page-completed.node-teaser .field-name-field-promo-image img{height: auto;max-width: 100%;}
.form-control{font-size: 20px;height: auto;line-height: 25px;padding: 12px}
.btn{font-size: 20px;padding: 12px;}
.fullwidth{width: auto;}
#panel-portada{background-color: white;padding: 60px;}
  #panel-portada .pane-promo-home{padding-bottom: 60px;}
    #panel-portada .pane-promo-home .view-promo-home img{height: auto;max-width: 100%;}
.search-results.node-results{padding-left: 0;}
	.search-results.node-results li{background-color: white;padding: 20px;}
		.search-results.node-results li .title{font-size: 30px;}
.sidebar_first{padding: 60px 0 60px 20px;}
  .sidebar_first h2{font-size: 16px;font-weight: bold;text-transform: uppercase;}
  .sidebar_first .block-search{padding-bottom: 20px;}
    .sidebar_first .block-search input[type=submit]{display: none;}
    .sidebar_first .block-search input[type=text]{border: 1px solid #ccc;font-size: 13px;height: 37px;padding-left: 20px;width: 100%;}
  .sidebar_first .view-id-entradas_recientes ul{list-style: none;padding-left: 0;}
    .sidebar_first .view-id-entradas_recientes ul li{margin-bottom: 5px;}
  .sidebar_first .view-id-lista_categorias ul{list-style: none;padding-left: 0;}
      .sidebar_first .view-id-lista_categorias ul li h2{font-size: 14px;font-weight: normal;text-transform: capitalize;}
#user-login label, #user-register-form label, #user-pass label{display: none;}
.tabs{list-style-type: none;margin: 20px 0;padding-left: 0;text-align: center;}
  .tabs .tabs__tab{display: inline-block;padding: 0 10px;vertical-align: middle;}
    .tabs .tabs__tab.is-active{display: none;}
/*
.messages--warning, .messages--error, .messages--status{margin-top: 20px;text-align: center;}
.messages--error{color: red;}
.messages--status{color: green;}
.messages--warning{color: orange;}
  .messages--warning .messages__icon, .messages--error .messages__icon, .messages--status .messages__icon{display: none;}
  .messages--warning .messages__list, .messages--error .messages__list, .messages--status .messages__list{list-style-type: none;text-align: center;}
*/
@media (max-width: 736px){
	a.header__logo{margin-left: 15px;}
	footer .block-menu{padding: 0px 15px;}
  .page-blog .masonry-item{width: auto;}
}
@media (max-width: 768px){
	#panel-portada *{text-align: center;}
		#panel-portada .destacado{margin-bottom: 40px;}
	#block-block-1 p{padding: 60px 0;}
  .sidebar_first{padding: 60px 15px;}
	footer .block-menu *{text-align: center;}
}
@media (max-width: 1024px) {
  .navbar-header {float: none;}
  .navbar-left,.navbar-right {float: none !important;}
  .navbar-toggle {display: block;}
  .navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
  .navbar-fixed-top {top: 0;border-width: 0 0 1px;}
  .navbar-collapse.collapse {display: none!important;}
  .navbar-nav {float: none!important;margin-top: 7.5px;}
  .navbar-nav>li {float: none;}
  .navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
  .collapse.in{display:block !important;}
}

@media (min-width: 1024px){
	footer .block-menu{padding: 60px 15px;}
	#block-block-1 p{padding-bottom: 30px;}
}