body{background-color: #f5f5f5;}
a, a:visited, a:hover, a:focus{color: #133fb7;}
a:hover{text-decoration: underline;}
header.nav-principal{background-color: transparent;border-radius: 0;border: none;border-bottom: 1px solid black;padding: 10px 20px;}
body.front header.nav-principal{border-bottom: none;}
  header.nav-principal .navbar-header .header__logo .header__logo-image{max-width: 200px;}
  header.nav-principal .navbar-default .navbar-toggle{border: none;}
    header.nav-principal .navbar-default .navbar-toggle .icon-bar{background-color: red;}
 header.nav-principal #tt-navbar .menu .menu__item a{color: black;padding-bottom: 0;padding-top: 0;text-transform: uppercase;}
    header.nav-principal #tt-navbar .menu .menu__item a:hover{text-decoration: underline;}
    header.nav-principal #tt-navbar .menu .menu__item a.active{font-weight: bold;text-decoration: none;}
main{padding: 0;}
  main h1{margin-bottom: 30px;margin-top: 0;}
.page-blog main h2, .node-type-page-completed.page-node main h2, .section-post h2{font-size: 26px;margin-bottom: 20px;margin-top: 30px;}
footer .block-accesibilidadweb-contact-form{background-color: #d0d0d0;padding: 60px 0;}
body.home main{padding: 0px !important;}
.visually-hidden{display: none;}
.block-accesibilidadweb-contact-form h2{margin-top: 0;text-align: center;}
.block-accesibilidadweb-contact-form .form-wrapper{margin-top: 20px;}
.node-post .links.inline{list-style: none;padding-left: 0;}
.element-invisible{display: none;}
.pager li>a, .pager li>span{border-radius: 0;}
.pager > .pager-current{background-color: #eee;border: 1px solid #ddd;color: #337ab7;display: inline-block;padding: 5px 14px;}
.page-blog .masonry-item{background-color: white;padding: 20px;width: 48%;}
.page-taxonomy .node-post.node-teaser{background-color: white;margin-bottom: 20px;padding: 20px;}
.node-post .field-name-field-featured-image{margin-bottom: 10px;}
	.node-post .field-name-field-featured-image img{height: auto;max-width: 100%;}
.node-post .field-name-field-categories{margin-bottom: 10px;}
	.node-post .field-name-field-categories .field-label, .node-post .field-name-field-categories .field-items, .node-post .field-name-field-categories .field-items .field-item{display: inline-block;vertical-align: top;}
	.node-post .field-name-field-categories .field-items .field-item{padding: 0 4px;}
.node-post .field-name-field-tags{margin-bottom: 10px;}
	.node-post .field-name-field-tags .field-label, .node-post .field-name-field-tags .field-items, .node-post .field-name-field-tags .field-items .field-item{display: inline-block;vertical-align: top;}
	.node-post .field-name-field-tags .field-items .field-item{padding: 0 4px;}
.node-page-completed.node-teaser .field-name-field-promo-image{margin-bottom: 10px;}
	.node-page-completed.node-teaser .field-name-field-promo-image img{height: auto;max-width: 100%;}
.form-control{font-size: 16px;height: auto;line-height: 20px;padding: 12px}
.btn{font-size: 20px;padding: 12px;}
.fullwidth{width: auto;}
#panel-portada{background-color: white}
  #panel-portada .pane-promo-home{padding-bottom: 60px;}
    #panel-portada .pane-promo-home .promo{background-color: rgb(65, 65, 69);min-height: 416px;position: relative;}
      #panel-portada .pane-promo-home .promo h1{margin: 0;}
        #panel-portada .pane-promo-home .promo h1 a{color: white;display: block;font-weight: bold;text-decoration: none;}
      #panel-portada .pane-promo-home .promo h2{margin: 0;}
      #panel-portada .pane-promo-home .promo h2 a{color: white;display: block;text-decoration: none;}
      #panel-portada .pane-promo-home .promo .listaEnlaces a{background-color: white;border-radius: 6px;color: #1c1cb2;display: block;font-size: 20px;margin: 0px 15% 20px 15%;padding: 5px 20px;text-align: center;text-decoration: none;width: auto;}
  #panel-portada .pane-promociones{padding-bottom: 60px;}
    #panel-portada .pane-promociones .field-name-field-promo-image{margin-bottom: 30px;text-align: center;}
      #panel-portada .pane-promociones .field-name-field-promo-image img{height: auto;max-width: 100px;text-align: center;}
      #panel-portada .pane-promociones .field-name-title{text-align: center;}
      #panel-portada .pane-promociones .field-name-title a{color: #1c1cb2;text-decoration: none;}
    #panel-portada .pane-promociones .field-name-node-link a{background-color: #1c1cb2;border-radius: 6px;color: white;display: block;font-weight: bold;padding: 5px 0;text-align: center;text-decoration: none;}
  #panel-portada .pane-entradas-recientes{background-color: #efefef;padding: 60px 0;}
    #panel-portada .pane-entradas-recientes h2{margin: 0 0 30px 0;text-align: center;}
      #panel-portada .pane-entradas-recientes .entrada .views-field-field-featured-image{margin-bottom: 20px;text-align: center;}
        #panel-portada .pane-entradas-recientes .entrada .views-field-field-featured-image img{max-height: 200px;max-width: 100%;width: auto;}
      #panel-portada .pane-entradas-recientes .entrada .views-field-title{background-color: white;padding: 20px;}
      #panel-portada .pane-entradas-recientes .entrada .views-field-title h3{font-size: 20px;margin: 0 auto;width: 90%;}
        #panel-portada .pane-entradas-recientes .entrada .views-field-title h3 a{color: black;text-decoration: none;}
      #panel-portada .pane-entradas-recientes .entrada .views-field-view-node{background-color: white;padding-bottom: 20px;}
        #panel-portada .pane-entradas-recientes .entrada .views-field-view-node a{background-color: #1c1cb2;border-radius: 6px;color: white;display: block;font-weight: bold;margin: 0 auto;padding: 5px 0;text-align: center;text-decoration: none;width: 90%;}
.search-results.node-results{padding-left: 0;}
	.search-results.node-results li{background-color: white;padding: 20px;}
		.search-results.node-results li .title{font-size: 30px;}
.sidebar_first{padding: 60px 0 60px 20px;}
  .sidebar_first .block-views{background-color: #ededed;border-radius: 6px;margin-bottom: 30px;padding: 30px 20px;}
  .sidebar_first h2{font-size: 16px;font-weight: bold;margin-top: 0px;text-transform: uppercase;}
  .sidebar_first .block-search{padding-bottom: 20px;}
    .sidebar_first .block-search input[type=submit]{display: none;}
    .sidebar_first .block-search input[type=text]{border: 1px solid #ccc;font-size: 13px;height: 37px;padding-left: 20px;width: 100%;}
  .sidebar_first .view-id-entradas_recientes_sidebar ul{list-style: none;padding-left: 0;}
    .sidebar_first .view-id-entradas_recientes_sidebar ul li{margin-bottom: 5px;}
  .sidebar_first .view-id-lista_categorias ul{list-style: none;padding-left: 0;}
    .sidebar_first .view-id-lista_categorias ul li{margin-bottom: 5px;}
#user-login label, #user-register-form label, #user-pass label{display: none;}
.tabs{list-style-type: none;margin: 20px 0;padding-left: 0;text-align: center;}
  .tabs .tabs__tab{display: inline-block;padding: 0 10px;vertical-align: middle;}
    .tabs .tabs__tab.is-active{display: none;}
.messages--warning, .messages--error, .messages--status{margin-top: 20px;text-align: center;}
.messages--error{color: red;}
.messages--status{color: green;}
.messages--warning{color: orange;}
  .messages--warning .messages__icon, .messages--error .messages__icon, .messages--status .messages__icon{display: none;}
  .messages--warning .messages__list, .messages--error .messages__list, .messages--status .messages__list{list-style-type: none;text-align: center;}
.addtoany_list{display: block;padding: 20px 0;}
.pager>.pager-current{color: black;font-weight: bold;}
.region-bottom .block-menu h2{font-size: 2rem;}
.region-bottom .block-menu ul{list-style: none;margin: 0;padding: 0;}
  .region-bottom .block-menu ul li{line-height: 25px;}
    .region-bottom .block-menu ul li a{color: #1c1cb2;text-decoration: none;}
form input.error, form textarea.error{border: 1px solid red;}
form label.error{color: red;display: block;margin-top: 10px;text-align: right;}
@media (max-width: 736px){
	a.header__logo{margin-left: 15px;}
	.region-bottom .block-menu{padding: 0px 15px;}
  .page-blog .masonry-item{width: auto;}
}
@media (max-width: 768px){
	#panel-portada *{text-align: center;}
    #panel-portada .pane-promo-home .promo {background-color: #404044;padding: 60px 0;}
      #panel-portada .pane-promo-home .promo .imagen{display: none;}
      #panel-portada .pane-promo-home .promo h2{margin-bottom: 30px;}
      #panel-portada .pane-promo-home .promo h3{margin-bottom: 30px;}
    #panel-portada .pane-promociones .destacado{margin-bottom: 40px;}
    #panel-portada .pane-promociones .destacado:last-child{margin-bottom: 0;}
      #panel-portada .pane-promociones .destacado .field-name-node-link a{margin: 0 auto;width: 50%;}
    #panel-portada .pane-entradas-recientes .entrada{margin-bottom: 40px;}
    #panel-portada .pane-entradas-recientes .entrada:last-child{margin-bottom: 0;}
	#block-block-1 p{padding: 60px 0;}
  .sidebar_first{padding: 60px 15px;}
	.region-bottom .block-menu *{text-align: center;}
}
@media (max-width: 1024px) {
  .navbar-header {float: none;}
  .navbar-left,.navbar-right {float: none !important;}
  .navbar-toggle {display: block;}
  .navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
  .navbar-fixed-top {top: 0;border-width: 0 0 1px;}
  .navbar-collapse.collapse {display: none!important;}
  .navbar-nav {float: none!important;margin-top: 7.5px;}
  .navbar-nav>li {float: none;}
  .navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
  .collapse.in{display:block !important;}
}

@media (min-width: 1024px){
  .node-type-post.page-node main, .node-type-page-completed.page-node main, .page-blog main{padding: 60px 0;padding-right: 70px;}
	.region-bottom .block-menu{padding: 60px 15px;}
	#block-block-1 p{padding-bottom: 30px;}
  #panel-portada .pane-promo-home .promo .imagen img{height: auto;max-width: 100%;width: 100%;}
  #panel-portada .pane-promo-home .promo h1{font-size: 40px;left: 0;margin: 0;position: absolute;top: 20%;width: 50%;}
    #panel-portada .pane-promo-home .promo h1 a{margin: 0 15% 0 auto;width: 350px;}
  #panel-portada .pane-promo-home .promo h2{font-size: 25px;left: 0;margin: 0;position: absolute;top: 55%;width: 50%;}
      #panel-portada .pane-promo-home .promo h2 a{margin: 0 15% 0 auto;width: 350px;}
  #panel-portada .pane-promo-home .promo .listaEnlaces{position: absolute;right: 0;top: 20%;width: 50%;}
  #panel-portada .pane-promociones .destacado{padding: 0 60px;}
  #panel-portada .pane-entradas-recientes .entrada{padding: 0 40px;}
}

@media (min-width: 1025px){
  header.nav-principal #tt-navbar .menu{bottom: 10px;position: absolute;right: 20px;}
}